{% extends 'base.html.twig' %}

{% block title %}New Budget{% endblock %}

{% block body %}
    <h1>Create new Budget</h1>

    {{ include('budget/_form.html.twig') }}

    <a href="{{ path('app_budget_index') }}">back to list</a>
{% endblock %}
